@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" );


body {
    background-color:#032215 ;
    width: 100%;
    margin: 0;
}


h2{
    text-decoration: none;
    text-align:left;
    color:white;
    font-size: 20px;
    margin-left: 1%;
}
.logocasa{
    width: 240px;
    height: 100px;
    display: block;
    margin: auto;
    margin-top: 0.5%;
}
h1{
    text-decoration: none;
    text-align:center;
    color:white;
    font-size: 35px;
    font-family: 'Wire One', sans-serif;
    margin-top: -1.2%;
}

.inicio{
    position: relative;
    width: 100%; height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.images{
    width: 100%; height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.foto{
    width: 17%; height: 27% ;
}
.textos{
    width: 100%; height: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

button{
    background-color:rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 30px;
    font-family: 'Wire One', sans-serif;
    height: 80px;
    width: 232px;
}
button:hover{
    border-color:#f83a5a;
    border-width: 5px;
    font-weight: bold;
}


.footer{
    display: flex;
    width: 100%; 
    justify-content:space-between;
    text-decoration: none;
    color: white;
    font-family: 'Alumni Sans', sans-serif;
    position: relative;

}
#nosotros{
    display: flex;
    width: 100%; 
    justify-content:space-between;
    text-decoration: none;
    color: white;
    font-family: 'Alumni Sans', sans-serif;
    position: absolute;
    bottom: 0;
}
.info{
    margin-left: 10px;
}
.logos{
    width: 40px;
    height: 40px;
}


.background-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9999;
  background-color: #000;

}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenido{
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
}

.parrafo{
    width: 40%;
    margin-left: 30%;
    text-align: center;
    position: absolute;
    display: block;
}

.parrafo p{
    color: white;
    display: flex;
    text-align: center;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 22px;
    line-height: 33px;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.topnav {
    list-style-type: none;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    text-align: center;
    float: left;
    display: block;
    font-family: 'Wire One', sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-bottom: 2%;
  }
  
  .topnav a:hover {
    color: #f83a5a;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #f83a5a;
}


  .imagenes-menu{
    width: 100%; height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


  .imagenes-menu img{
    width: 243px; height: 343px;
    padding-left: 20px;
    padding-right: 20px;
    transition: transform 0.5s;
  }


.imagenes-menu img:hover{
   transform: scale(1.1);
}

.platos{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding-bottom: 2%;
}

.carta-platos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    color: white;
    line-height: 100%;
    font-family: 'Alumni Sans', sans-serif;

}
.tipo{
    font-size: 30px;
    text-decoration: underline;
}

.opcion{
    width: 360px; height: 90px;
    line-height: 30%;
    font-size: 20px;
    margin: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.plato{
    font-weight: bold;
}


.opcion-T1{
    width: 370px; height: 135px;
    font-size: 20px;
    padding: 10px;
    margin: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.opcion-T2{
    width: 370px; height: 90px;
    font-size: 20px;
    margin: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}



.reservation-form {
    width: 30%;
    margin: 0 auto;
    color: #fff;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}
  
  .reservation-form h2 {
    text-align: center;
}
  
  .reservation-form label {
    display: block;
    margin-top: 10px;
}
  
  .reservation-form input,
  .reservation-form textarea {
    width: 100%;
    margin-top: 5px;
  }
  
  .reservation-form button {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-family: 'Alumni Sans', sans-serif;
    border: none;
    cursor: pointer;
  }
  
  .reservation-form button:hover {
    background-color: #45a049;
  }

  input[type=text], select, textarea,input[type=date], input[type=email], input[type=time], input[type=guests] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    resize: vertical;
    margin-bottom: 12px;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px ;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  

  .column {
    float: none;
    width: 40%;
    padding: 20px;
    color: #fff;
  }
  
.row{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-evenly;
}

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
 
  @media (max-width: 768px) {
    .topnav a:not(:last-child) {
        display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {
        position: relative;
    }
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .foto{
        width: 43%; height: 53%;
    }
    .images{
        justify-content: center;
    }
    .textos{
        justify-content: center;
        width: 100%;
    }

    button{
        width: 322px; height: 80px;
    }
    .imagenes-menu{
        flex-direction: row;
    }
    .row{
        flex-direction: column;
    }
    .background-video{
        position: absolute;
        padding-bottom: 75%; 
    }
    .reservation-form{
        width: 50%;
    }
    .column{
        width: 85%;
    }
  }
  
  
  
  @media (max-width: 520px) {
    button{
        width: 202px; height: 80px;
    }
    .topnav a:not(:last-child) {
        display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {
        position: relative;
    }
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .foto{
        width: 43%; height: 53%;
    }
    .images{
        justify-content: center;
    }
    .textos{
        justify-content: center;
    }

    .imagenes-menu{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .row{
        flex-direction: column;
    } 
    .parrafo{
        width: 60%;
        margin-left: 20%;
    }
  }

